<table class="table">
  <thead>
    <tr>
      <th>主题</th>
      <th>楼主</th>
      <th>最后回复</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= topic.nickname %></td>
        <td><%= topic.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
